<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Circlo"
        android:theme="@style/Theme.Circlo">

        <!-- Splash -->
        <activity android:name=".auth.SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth -->
        <activity android:name=".auth.LoginOrSignUpActivity" />
        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".auth.SignUpActivity" />

        <!-- Admin -->
        <activity android:name=".auth.AdminLoginActivity" />
        <activity android:name=".admin.AdminDashboardActivity" />

        <!-- Main -->
        <activity android:name=".MainActivity" />

        <!-- Profile -->
        <activity android:name=".profile.MyItemsActivity" />
        <activity android:name=".profile.SavedItemsActivity" />
        <activity android:name=".profile.AddressActivity" />
        <activity android:name=".profile.NotificationActivity" />

        <!-- Chat -->
        <activity android:name=".chat.ChatRoomActivity" />

        <!-- Tambah FileProvider untuk kamera -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>